.PORTFOLIOPADIV {
    background-color: whitesmoke;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    justify-items: center; */
  }
  .displayport {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* background-size: cover; */
    justify-content: center;
    align-content: center;
    display: flex;
    gap: 50px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-top: 100px;
  }
  .portfoliod {
    width: 50%;
    height: 50%;
    font-weight: 300;
  }
  .portfoliosection {
    font-size: xx-large;
  }
  .portfoliotext {
    font-size: medium;
    color: rgb(99, 94, 94);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    color: black;
    font-weight: 400;
  }
  .image2div {
    width: 50%;
  }
  .imagey {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .READ {
    width: 200px;
    height: 50px;
    background-color: rgb(70, 13, 70);
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
  }
  .READ:hover {
    width: 200px;
    height: 50px;
    background-color: rgb(9, 235, 84);
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
  }
  