.navar-parent-div {
    background-color: white;
    height: 10vh;
    width: auto;
    align-content: center;
    justify-content: center;
    /* text-align: center;
    align-items: center; */
  }
  .narbar-image {
    object-fit: contain;
    margin: auto;
    padding-top: 15px;
    padding-left: 100px;
  }
  .parent-image {
    font-weight: 300;
    display: flex;
    /* gap: 30px; */
    margin-right: 10px;
    text-align: center;
    align-content: center;
    /* float: right; */
    /* justify-content: space-between; */
  }
  .div-home {
    /* float: right; */
    display: flex;
    text-align: center;
    margin: auto;
    padding-left: 250px;
  }
  
  .div-home div {
    padding: 20px;
    align-content: flex-end;
  }
  .BUTTONTEXT {
    /* background-color: rgb(9, 202, 128); */
    background-color: rgba(76, 175, 79, 1);
    height: 8vh;
    width: 150px;
    border-radius: 8px;
    border: transparent;
    color: white;
  }